<%- model_class = Post -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Type</th>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:post_id) %></th>
      <th><%= model_class.human_attribute_name(:published_at) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |main_post| %>
    
      <% post_versions = main_post.versions %>
      
      <% main_class_color = main_post.published? ? "green" : "red" %>
      <% ([*main_post] + ([*post_versions] - [*main_post])).each do |post| %>
    

        <% main_version = post.id == main_post.id %>
        <% current_class_color = main_version ? main_class_color : "gray" %>
        <tr style='background-color:<%= current_class_color %>'>
          <td><%= main_version ? 'Main' : "History" %></td>
          <td><%= link_to post.id, post_path(post) %></td>
          <td><%= post.post_id %></td>
          <td><%= post.published_at %></td>
          <td><%= post.title %></td>
          <td><%= post.description %></td>
          <td><%=l post.created_at %></td>
          <td>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_post_path(post), :class => 'btn btn-default btn-xs' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        post_path(post),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger' %>

            <% if post.published? %>
              <%= link_to t('.unpublish', :default => t("helpers.links.unpublish")),
                          unpublish_post_path(post),
                          :method => :put,
                          #:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Unpublish?')) },
                          :class => 'btn btn-xs btn-danger' %>
            <% else %>
              <%= link_to t('.publish', :default => t("helpers.links.publish")),
                          publish_post_path(post),
                          :method => :put,
                          #:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Publish?')) },
                          :class => 'btn btn-xs btn-danger' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_post_path,
            :class => 'btn btn-primary' %>
